.DS_Store
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
app/data/raw/*
app/data/processed/*
app/models/*
!app/data/raw/.gitkeep
!app/data/processed/.gitkeep
!app/models/.gitkeep
node_modules/
*.cache
