streamlit
pandas
numpy==1.26.4
scipy==1.11.4
matplotlib
folium
streamlit-folium
Pillow
transformers
torch
scikit-learn
geopandas
shapely
pyproj
fiona
rtree
Cython==0.29.36
pmdarima==2.0.4
prophet==1.1.5
statsmodels==0.14.2
