# Core
streamlit
pandas
numpy==1.26.4
scipy==1.11.4
matplotlib
folium
streamlit-folium
Pillow

# NLP Models
transformers
torch
scikit-learn

# Geospatial
geopandas
shapely
pyproj
fiona
rtree

# Forecasting
Cython==0.29.36
pmdarima==2.0.4
prophet==1.1.5
